<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuentas">
 <template>
   <style>
     :host {
       display: block;
     }

     .container{
       @apply(--layout-horizontal);
       @apply(--layout-center-justified);
     }

     body {
       @apply --paper-font-common-base;
       font-size: 14px;
       margin: 0;
       padding: 24px;
       background-color: var(--paper-grey-50);
     }

     .toolbar {
       height: 60px;
       padding: 16px;
       background: #dddddd;
       color: var(--text-primary-color);
       @apply --paper-font-display1;
     }

     .item .primary {
       color: var(--primary-text-color);
       @apply --paper-font-body1;
     }

     .item .secondary {
       color: var(--secondary-text-color);
       @apply --paper-font-body1;
     }

     table {
         border-collapse: collapse;
         width: 80%;
         @apply --paper-font-body1;
     }

     td {
         text-align: left;
         padding: 8px;
         color: var(--secondary-text-color);
         @apply --paper-font-body1;
     }
     th {
         text-align: left;
         border-bottom: 1px solid #ccc;
         padding: 8px;
         color: var(--primary-text-color);
         @apply --paper-font-body1;
     }

     tr {
       border-bottom: 1px solid #ccc;
     }

   </style>
   <h3>Tu Posición Global: </h3>
   <div class="container">

      <table>
       <tr>
         <th>Cuenta</th>
         <th>Saldo</th>
         <th>Alias</th>
         <th>Fecha Creación</th>
         <th>Acciones</th>
       </tr>
       <template is="dom-repeat" items="[[accounts]]">
        <tr>
          <td><span>[[item.IBAN]]</span></td>
          <td><span>[[item.balance.amount]] [[item.balance.currency]]</span></td>
          <td><span>[[item.alias]]</span></div>
          <td><span>[[item.creationDate]]</span></td>
          <td>
            <button  on-click="doGetAccount">Detalle</button>
            <button  on-click="doDeleteAccount">Eliminar</button>
          </td>
       </tr>
         </template>
      </table>
    </div>
   </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class VisorCuentas extends Polymer.Element {
     static get is() { return 'visor-cuentas'; }
     static get properties() {
       return {
         token: {
             type: String,
           },
         customerId: {
             type:String,
           },
           accounts: {
             type: Array,
           },
          accountId : {
             type:Number,
           },
           blocked: {
              type:Boolean,
            },
          alias: {
             type: String,
           },
          IBAN:{
             type:String,
           },
          creationDate:{
              type:Date,
            },
          productType: {
            id: {
               type:String,
             },
            name:{
               type:String,
             }
           },
          balance: {
             amount: {
                 type: Number,
               },
             currency: {
               type: String,
             },
           },

         numberSelected: {
           type: String,
         },
         accountIdSelected: {
           type: Number,
         }
       };
     }





doGetAccount(e, request){
  console.log("El usuario ha pulsado el botón de la fila con "+ e.model.item.accountId);
  this.dispatchEvent(
         new CustomEvent(
           "mymovs",
           {
             "detail" : {

               "accountId": e.model.item.accountId,
               "customerId": e.model.item.customerId

             }
           }
         )
       );
     }
doDeleteAccount(e, request){
  console.log("El usuario ha pulsado el botón de la fila con "+ e.model.item.accountId);
  this.dispatchEvent(
         new CustomEvent(
          "mydelete",
        {
           "detail" : {
            "accountId": e.model.item.accountId,
            "customerId": e.model.item.customerId
            }
        }
       )
    );
 }
}
   window.customElements.define(VisorCuentas.is, VisorCuentas);
 </script>
</dom-module>
