<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
 <template>
 <style>
    :host {
     display: block;
    }
 </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <h2>Hola!!!! {{firstname}} {{lastname}}</h2>
   <h3>¿Qué podemos hacer por ti?</h3>
   <P>
    <button class="btn btn-primary" on-click="contratar">Contratar</button>
    <button class="btn btn-primary" on-click="conscuentas">Cuentas</button>
    <button class="btn btn-primary" on-click="conversor">Conversor Divisas</button>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class VisorUsuario extends Polymer.Element {
     static get is() { return 'visor-usuario'; }
     static get properties() {
       return {

         firstName: {
           type: String
         },
         lastName: {
           type: String
         },
         email: {
           type: String
         }
       };
     }
    /*evento del boton 'Contratar' */
    contratar(e){
       console.log("quiero contratar");
       /** enviar datos al evento "contratar"*/
          this.dispatchEvent(
           new CustomEvent(
             "contratar",
             {
               "detail": e.detail.response
               }
           )
        );
     }
     /*evento del boton 'Consultar Cuentas' */
     conscuentas(e){
        console.log("quiero contratar");
        /** enviar datos al evento "concuen"*/
           this.dispatchEvent(
            new CustomEvent(
              "concuen",
              {
                "detail": e.detail.response
                }
            )
         );
      }
       /*evento del boton 'Conversor Divisas' */
      conversor(e){
        console.log("Conversor Divisas");

        /** enviar datos al evento "condiv"*/
           this.dispatchEvent(
            new CustomEvent(
              "condiv",
              {
                "detail": e.detail.response
                }
            )
         );
      }
   }

   window.customElements.define(VisorUsuario.is, VisorUsuario);
 </script>
</dom-module>
