<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../login-usuario/login-usuario.html">
<link rel="import" href="../area-cliente/area-cliente.html">
<link rel="import" href="../visor-usuario/visor-usuario.html">
<link rel="import" href="../hazte-cliente/hazte-cliente.html">
<link rel="import" href="../crear-cliente/crear-cliente.html">
<link rel="import" href="../crear-cuenta/crear-cuenta.html">
<link rel="import" href="../cerrar-sesion/cerrar-sesion.html">
<link rel="import" href="../obtener-cuentas/obtener-cuentas.html">
<link rel="import" href="../visor-cuentas/visor-cuentas.html">
<link rel="import" href="../obtener-movimientos/obtener-movimientos.html">
<link rel="import" href="../visor-movimientos/visor-movimientos.html">
<link rel="import" href="../crear-movimiento/crear-movimiento.html">
<link rel="import" href="../ejecutar-movimiento/ejecutar-movimiento.html">
<link rel="import" href="../carousel-imagen/carousel-imagen.html">
<link rel="import" href="../mostrar-error/mostrar-error.html">
<link rel="import" href="../visor-conversor/visor-conversor.html">
<link rel="import" href="../conversor-divisa/conversor-divisa.html">
<link rel="import" href="../mostrar-confirmacion/mostrar-confirmacion.html">
<link rel="import" href="../borrar-cuenta/borrar-cuenta.html">


<dom-module id="pagina-inicio">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <nav class="navbar navbar-light" style="background: linear-gradient(to left, #33ccff 0%, #9999ff 100%);">
       <h2 class="navbar-text" style="color: white"><img src="https://s3-eu-west-1.amazonaws.com/imagenesgabivane/ICONO.png" alt="icono" style="width: 100px; height: 100px"><strong> BANCO BGV </strong></h2>
       <div hidden$="{{isHome}}">
       <button type="button" class="btn btn-primary" on-click="login">Área de Clientes</button>
       </div>
       <div hidden$="{{isCliente}}">
       <button type="button" class="btn btn-primary" on-click="cliente">Hazte Cliente</button>
       </div>
       <div hidden$="{{!isLogged}}">
       <button type="button" class="btn btn-primary" on-click="logout">Cerrar Sesion</button>
       </div>
    </nav>
    <div hidden$="{{!isLogin}}">
    <login-usuario id="loginusuario"  on-mylogin="processLogin"></login-usuario>
    <area-cliente id="area-cliente" usuario={{userLogin}} on-myclient="processClient" on-login-error="mostrarError"></area-cliente>

    </div>
    <div hidden$="{{!isLogged}}">
    <visor-usuario id="visor-usuario" firstname={{firstName}} lastname={{lastName}} email={{email}} on-contratar="processContratar" on-concuen="processConsultaCuentas" on-condiv="convdivisa"></visor-usuario>
    </div>

    <crear-cuenta id="crearcuenta" customerid={{customerId}} token={{token}} on-mycreacuent="responseContratar" ></crear-cuenta>

    <div hidden$="{{!isAlta}}">
      <hazte-cliente id="haztecliente" on-myalta="processAlta" ></hazte-cliente>
    </div>
    <crear-cliente id="crear-cliente" usuario={{userAlta}} on-mycreacli="processCreaClient" on-clien-error="mostrarError"></crear-cliente>


    <obtener-cuentas id="obtenercuentas" customerid={{customerId}} token={{token}} on-getaccount="getaccount" ></obtener-cuentas>
    <div hidden$="{{isCuentas}}">
    <visor-cuentas id="visorcuentas" accounts={{accounts}} token={{token}} on-vercuentas="vercuentas" on-mymovs="detalle" on-mydelete="borrar"></visor-cuentas>
    </div>
    <obtener-movimientos id="obtenermovimientos" customerid={{customerId}} accountid={{accountId}} token={{token}} on-getmovs="getmovs" ></obtener-movimientos>
    <borrar-cuenta id="borrarcuenta" customerid={{customerId}} accountid={{accountId}} token={{token}} on-myborracuent="processConsultaCuentas" ></borrar-cuenta>
    <div hidden$="{{isMovimiento}}">
    <visor-movimientos id="visor-movimientos" account={{account}} transactions={{transactions}} on-aoperar="aoperar"></visor-movimientos>
    </div>
    <div hidden$="{{!isOperar}}">
    <crear-movimiento id="crearmovimiento" customerid={{customerId}} account={{account}} token={{token}} on-myoperar="creamov"></crear-movimiento>
    </div>
    <ejecutar-movimiento id="ejecutarmovimiento" customerid={{customerId}} accountid={{accountId}} token={{token}} transaction={{transaction}} on-myvolvermov="volverMov"></ejecutar-movimiento>

    <div hidden$="{{isConversor}}">
    <visor-conversor id="visorconversor" cambio={{cambio}} total={{total}} on-calcdiv="calculoDivisa"></visor-conversor>
    <conversor-divisa id="conversordivisa" origen={{origen}} on-cambio="cambiodiv"></conversor-divisa>
    </div>

    <div hidden$="{{isError}}">
    <mostrar-error id="mostrar-error" mensaje={{msg}}></mostrar-error>
    </div>
    <div hidden$="{{isConfirm}}">
    <mostrar-confirmacion id="mostrar-confirmacion" mensaje={{msg}}></mostrar-confirmacion>
    </div>
    <div hidden$="{{isCarousel}}">
    <carousel-imagen></carousel-imagen>
    </div>
    <cerrar-sesion id="offsesion" customerid={{customerId}} token={{token}} on-mylogout="responseLogout" ></cerrar-sesion>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PaginaInicio extends Polymer.Element {
      static get is() { return 'pagina-inicio'; }
      static get properties() {
        return {
          userlogin:{
            type : Object
          },
          userAlta:{
            type : Object
          },
          isLogged: {
            type:Boolean,
            value:false
          },
          isLogin: {
            type:Boolean,
            value:false
          },
          isAlta: {
            type:Boolean,
            value:false
          },
          isCliente: {
            type:Boolean,
            value:false
          },
          isCuentas: {
            type:Boolean,
            value:true
          },
          isMovimiento: {
            type:Boolean,
            value:true
          },
          isOperar: {
             type:Boolean,
             value: false
          },
          isCarousel: {
            type:Boolean,
            value:false
          },
          isError: {
            type:Boolean,
            value:true
          },
          isConversor: {
            type:Boolean,
            value:true
          },
          isConfirm: {
             type:Boolean,
             value:true
          },
          token: {
            type: String
          },
          accounts: {
            type: Array,
          },
          transactions: {
            type: Array,
          }
          }
        };
    /**evento del Área de clientes on-click="login" */
     login(){
       console.log("boton login pulsado");
       /*Inicializar Cliente */
       this.$.haztecliente.inicializarCliente();
       this.isHome =true;
       /** mostrar login-usuario y area-cliente*/
        this.isLogin =true;
      /** ocultar visor-usuario */
        this.isLogged =false;
      /** ocultar hazte-cliente */
        this.isAlta = false;
      /*mostrar boton "Hazte Cliente" */
        this.isCliente=false;
      /*ocultar Carousel */
        this.isCarousel = true;
        this.isConfirm = true;
       }
    /** evento login-usuario on-mylogin="processLogin" */
     processLogin(e) {
        console.log("Capturado datos evento del login");
        console.log(e);
        console.log(e.detail);
        /** recuperamos en userLogin los datos de acceso al login */
        this.userLogin=e.detail;

        /*ocultar boton "Hazte Cliente" */
          this.isCliente=true;
        /*ocultar Carousel */
          this.isCarousel = true;
          this.isConfirm = true;
      }
    /** evento area-cliente se ejecuta la API login on-myclient="processClient" */
    processClient(e) {
      console.log("Capturado evento del Cliente");
      console.log(e);
      console.log("e.detail.user.customerId " +e.detail.user.customerId);
      console.log("e.detail.user.firstName  " +e.detail.user.firstName);
      /** recuperamos los datos del usuario logado */
      this.firstName = e.detail.user.firstName;
      this.lastName = e.detail.user.lastName;
      this.email = e.detail.user.email;
      this.customerId = e.detail.user.customerId;
      this.token = e.detail.token;
      console.log ("firstName "+this.firstName);
      console.log("lastName " +this.lastName);
      console.log ("email "+this.email);
      console.log ("token "+this.token);
      /** ocultar area-cliente*/
      this.isLogin =false;
     /** mostrar visor-usuario */
      this.isLogged =true;
      /*ocultar Carousel */
      this.isCarousel = true;
      /*ocultar Error */
      this.isError = true;
      this.isConfirm = true;
    }

     /**evento del Hazte cliente on-click="cliente" */
     cliente(){
       console.log("boton Hazte Cliente pulsado");
       /*Inicializar login */
        this.$.loginusuario.inicializarLogin();
        /*Inicializar Cliente */
        this.$.haztecliente.inicializarCliente();
        this.isHome =false;
       /** mostrar login-usuario y area-cliente*/
        this.isLogin =false;
      /** ocultar visor-usuario */
        this.isLogged =false;
        this.isAlta = true;
      /*ocultar boton "Hazte Cliente" */
        this.isCliente=true;
        /*ocultar Carousel */
        this.isCarousel = true;
        /*ocultar Error */
        this.isError = true;
        this.isConfirm = true;
       }
       /** evento hazte-cliente on-myAlta="processAlta" */
        processAlta(e) {
           console.log("Capturado datos evento del Alta");
           console.log(e);
           console.log(e.detail);
           /** recuperamos en userAlta los datos del Alta*/
           this.userAlta=e.detail;
         }

         /** evento crear-cliente se ejecuta la API on-mycreacli="processCreaClient" */
          processCreaClient(e) {
            console.log("Capturado evento para crear Cliente");
            console.log(e.detail.response);

          /** mostrar area-cliente*/
             this.isHome =false;
           /** mostrar boton 'Hazte cliente' */
             this.isCliente =false;
          /** ocultar hazte-cliente */
             this.isAlta = false;
          /*mostrar Carousel */
             this.isCarousel = false;
             this.isError = true;
             this.isConfirm = false;
             console.log(this.isConfirm);
          }

          /** evento cerrar-sesion on-offsesion="offSesion" */
         logout(){
           console.log("logout del usuario");
           /** enviar datos a cerrar-sesion*/
           console.log("Token peticionLogout en pagina-inicio: " +this.token);
           this.$.offsesion.peticionLogout();
         }
         /* evento cerrar-sesion on-mylogout="responseLogout" */
         responseLogout(){
           console.log("se ha cerrado la sesion");
           /*Inicializar login */
           this.$.loginusuario.inicializarLogin();
           /** mostrar 'Area clientes'(isHome) */
           this.isHome =false;
           /** ocultar visor-usuario y mostrar 'Hazte Cliente'*/
           this.isLogged =false;
           /*ocultar cuentas */
           this.isCuentas = true;
           /*ocultar movimientos */
           this.isMovimiento = true;
           /*mostrar Carousel */
           this.isCarousel = false;
           /*mostrar boton "Hazte Cliente" */
           this.isCliente=false;
           this.isConversor=true;
           this.isConfirm = true;
           this.isError = true;
           this.isOperar = false;
         }
         /* evento visor-usuario on-contratar="processContratar"*/
         processContratar(){
          console.log("invoca a la API de crear cuentas");
          this.$.crearcuenta.peticionAltaCuenta();

         }
         /* evento crear-cuenta on-mycreacuent="responseContratar" */
         responseContratar(){
           console.log("se ha dado de alta la cuenta");
           this.$.obtenercuentas.peticionObtenerCuentas();

         }
         /* evento visor-usuario on-concuen="processConsultaCuentas"*/
         processConsultaCuentas(){
           console.log('invoca a la API de consulta de cuentas')
           this.$.obtenercuentas.peticionObtenerCuentas();
         }
         /* evento visor-usuario on-concuen="processConsultaCuentas"*/
        aoperar(){
          console.log("boton Operar pulsado")
          this.isHome =true;
          /** mostrar login-usuario y area-cliente*/
           this.isLogin =false;
         /** ocultar visor-usuario */
           this.isLogged =true;
         /** ocultar hazte-cliente */
           this.isAlta = false;
           this.isOperar = true;
           this.isMovimiento = true;
           this.isConfirm = true;
           console.log("estamos en pagina-inicio y se ha ido a 'aoperar'");
         }
        getaccount(e){
          console.log("obtenemos cuentas");
          this.accounts = e.detail.accounts;
          /*mostrar cuentas */
          this.isCuentas =false;
          /*ocultar movimientos */
          this.isMovimiento = true;
          /* ocultar operar */
          this.isOperar=false;
          this.isConversor=true;
          this.isConfirm = true;
          }

        creamov(e){
          console.log("Estamos en creamov con: "+JSON.stringify(e.detail.transaction));
          this.transaction = e.detail.transaction;

          this.$.ejecutarmovimiento.ejecutamovimiento();
          }
        detalle (e){
          this.customerId=e.detail.customerId;
          this.accountId=e.detail.accountId;
          /*ocultar cuentas */
          this.isCuentas = true;
          this.isConfirm = true;
          this.$.obtenermovimientos.peticionObtenerMovimientos();
        }
        borrar(e){
          this.customerId=e.detail.customerId;
          this.accountId=e.detail.accountId;
          this.$.borrarcuenta.peticionBorrarCuenta(this.accountId);
        }
        getmovs(e){
          console.log("obtenemos movimientos: "+this.isMovimiento);
          this.$.crearmovimiento.inicializarMovimiento();
          this.isLogged = true;
          /*mostrar movimientos */
          this.isMovimiento = false;
          this.isCuentas = true;
          this.isConfirm = true;
          this.account= e.detail.account;
          this.transactions=e.detail.transactions;
          this.page = "visor-movimientos";
          console.log("obtenemos el detalle de cuenta y hemos puesto cosas: "+JSON.stringify(this.account));
          console.log("obtenemos movimientos y hemos puesto cosas: "+JSON.stringify(this.transactions));
          console.log("obtenemos movimientos "+this.isMovimiento);
        }

        volverMov(e){
           console.log("obtenemos volver movimientos");
           this.isMovimiento = true;
           this.isOperar = false;
           this.isCuentas = false;
           this.isConfirm = true;
           this.$.obtenermovimientos.peticionObtenerMovimientos();
         }

        mostrarError(e){
        console.log("ERROR");
        console.log(e.detail);

        this.msg = e.detail.msg;
        /*mostrar Error */
        this.isError = false;
        this.isConfirm = true;
        /*mostrar boton "Hazte Cliente" */
        this.isCliente=false;
        }

        convdivisa(e){
          console.log("boton Divisa a convertir");
          console.log(e.detail);
          this.isConversor=false;
          /*ocultar movimientos */
          this.isMovimiento = true;
          /*ocultar cuentas */
          this.isCuentas = true;
          this.isOperar = false;
          this.isConfirm = true;
          this.$.visorconversor.inicializarConversor();
        }
        calculoDivisa(e){
          console.log("evento del visor-conversor");
          console.log(e.detail);
          this.origen=e.detail.origen;
          console.log(e.detail.origen);
          this.destino=e.detail.destino;
          console.log("this.destino "+this.destino);
          this.cantidad=e.detail.cantidad;
          console.log(e.detail.cantidad);
          this.$.conversordivisa.peticionDivisa()

        }
        cambiodiv(e){
          console.log("calculado el cambio");
          console.log(e.detail.rates);
          if (this.destino == "EUR"){
            this.cambio=e.detail.rates.EUR;
            this.total=this.cambio*this.cantidad;
            console.log("this.cambio " +this.cambio);
            console.log("this.total" +this.total);
          }else{
            if (this.destino == "USD"){
              this.cambio=e.detail.rates.USD;
              this.total=this.cambio*this.cantidad;
              console.log("this.cambio " +this.cambio);
              console.log("this.total" +this.total);
            }else{
              if (this.destino == "GBP"){
                this.cambio=e.detail.rates.GBP;
                this.total=this.cambio*this.cantidad;
                console.log("this.cambio " +this.cambio);
                console.log("this.total" +this.total);
              }else{
                  this.cambio=e.detail.rates.JPY;
                  this.total=this.cambio*this.cantidad;
                  console.log("this.cambio " +this.cambio);
                  console.log("this.total" +this.total);
                }
              }
            }
          }
    }
    window.customElements.define(PaginaInicio.is, PaginaInicio);
  </script>
</dom-module>
