<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-movimientos">
 <template>
   <style>
     :host {
       display: block;
     }

     .container{
       @apply(--layout-horizontal);
       @apply(--layout-center-justified);
     }

     table {
         border-collapse: collapse;
         width: 80%;
         @apply --paper-font-body1;
     }

     td {
         text-align: left;
         padding: 8px;
         color: var(--secondary-text-color);
         @apply --paper-font-body1;
     }
     th {
         text-align: center-block;
         border-bottom: 1px solid #ccc;
         padding: 8px;
         color: var(--primary-text-color);
         @apply --paper-font-body1;
     }

     tr {
       border-bottom: 1px solid #ccc;
     }
     </style>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<br/><br/>
   <div hidden$="">{{account.id}}</div>
   <fieldset>
     <table>
        <tr><th>Detalle de cuenta</th>
      </tr>
      <td>
          IBAN: {{account.IBAN}}<br/>
          Producto: {{account.productType.id}} - {{account.productType.name}}<br/>
          Alias: {{account.alias}}<br/>
          Saldo: {{account.balance.amount}} {{account.balance.currency}}
      </td>
  </table>
   </fieldset>
   <input type="hidden" id="accountId" value="{{account.accountId}}" />
   <br/><br/>
   <button class="btn btn-primary" on-click="operar">Operar</button><br/>

   <div class="container">
    <!-- <h5>Listado de movimientos</h5> -->
      <table>
        <tr>
          <th nowrap><span>Listado de movimientos</span></th>
        </tr>
       <tr>
         <th>Identificador</th>
         <th>Concepto</th>
         <th>Tipo de operación</th>
         <th>Tipo de movimiento</th>
         <th>Fecha</th>
         <th>Importe</th>

       </tr>
       <template is="dom-repeat" items="[[transactions]]">
        <tr>
          <td><span>[[item.transactionId]]</span></td>
          <td><span>[[item.concept]]</span></td>
          <td><span>[[item.operationType]]</span></td>
          <td><span>[[item.transactionType]]</span></td>
          <td><span>[[item.operationDate]]</span></td>
          <td><span>[[item.originAmount.amount]] [[item.originAmount.currency]]</span></td>
       </tr>
         </template>
      </table>
    </div>
   </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
    //alert("ESTAMOS EN MOVIMIENTOS");
   class VisorMovimientos extends Polymer.Element {
     static get is() { return 'visor-movimientos'; }
     static get properties() {
       return {
           account: {
             accountId : {
               type:Number,
             },
             blocked: {
                type:Boolean,
              },
            alias: {
               type: String,
             },
            IBAN:{
               type:String,
             },
            creationDate:{
                type:Date,
              },
            productType: {
              id: {
                 type:String,
               },
              name:{
                 type:String,
               }
             },
            balance: {
               amount: {
                   type: Number,
                 },
               currency: {
                 type: String,
               },
             },
           },
           transactions:{
             transactionId:{
               type: Number,
             },
             concept:{
               type: String,
             },
             operationDate:{
               type: String,
             },
             operationType:{
               type: String,
             },
             transactionType:{
               type: String,
             },
             originAmount: {
                amount: {
                    type: Number,
                  },
                currency: {
                  type: String,
                },
              }
           }

         }
       };


       operar(e, request){
         console.log("Estamos pulsando el botón operar"+ JSON.stringify(e.detail));
         this.dispatchEvent(
                new CustomEvent(
                  "aoperar",
                  {
                    "detail" :  e.detail
                    }
                )
              );
            }
     }
   window.customElements.define(VisorMovimientos.is, VisorMovimientos);
 </script>
