<script src="../bower_components/webcomponentsjs/webcomponents-loader.js"></script>

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!-- ejecuta la API login -->

<dom-module id="area-cliente">
  <template>
    <style>
      :host {
        display: block;
      }
      </style>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/v1/login"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AreaCliente extends Polymer.Element {
      static get is() { return 'area-cliente'; }
      static get properties() {
        return {
          usuario:{
            type: Object,
            observer: '_peticionLogin'
          }, token:{
            type: String
          }
        };
        }

        _peticionLogin (data){
          console.log("peticionLogin");
          console.log(data);
          this.$.doLogin.body=data;
          this.$.doLogin.generateRequest();

          console.log("Petición enviada");
        }

        manageAJAXResponse(e, request) {
        console.log("Llegaron los resultados.");
        console.log(e.detail.response);
        /** enviar datos al evento "myclient"*/
        this.dispatchEvent(
        new CustomEvent(
          "myclient",
          {
            //"detail": e.detail.response,
            "detail":{
              "token" : request.xhr.getResponseHeader("token"),
              "user" : e.detail.response.user
            }

            }
        )
      );
      }

      showError(e, request){
              console.log("Error en login");            
              this.dispatchEvent(new CustomEvent(
                "login-error",
                {
                  "detail": {"msg": e.detail.request.xhr.response.msg}
                }
              )
             );

            }
    }

    window.customElements.define(AreaCliente.is, AreaCliente);
  </script>
</dom-module>
