<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<!-- visor del formulario de acceso del cliente -->
<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.1/examples/sign-in/signin.css">
   <h1 style="text-align: center">Entra a tu banca online</h1>
   <div class=form-signin>
    <div class="form-group">
    </div>
    <div class="form-group">
      <label>Introduce tus claves de acceso</label>
      <input placeholder="email" type="email" class="form-control" value="{{email::input}}" required></input>
    </div>
    <div class="form-group">
      <input placeholder="password" type="password" class="form-control" value="{{password::input}}"required></input>
    </div>
    <div class="form-group">
      <button on-click="entrar" class="btn btn-primary">Acceder</button>
    </div>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          }, password: {
            type: String
          }
        };
      }
      /** evento del boton 'Acceder' */
       entrar(e){
         console.log("El usuario ha pulsado el botón");
         console.log("Voy a enviar la petición");
         console.log(e.detail.response);
        /** enviar datos al evento "mylogin"*/
         this.dispatchEvent(
         new CustomEvent(
           "mylogin",
           {
             "detail":{
               "email" : this.email,
               "password" : this.password
             }
           }
         )
       );
        }
      /* inicializar formulario login   */
        inicializarLogin(){
          console.log('inicializarLogin');
          this.email='';
          this.password='';
        }

     }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
