<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!-- ejecuta la API login -->

<dom-module id="crear-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
      id="doAltaCuenta"
      method="POST"
      url="http://localhost:3000/v1/users/{{customerid}}/accounts"
      content-type="application/json"
      headers='{"Access-Control-Allow-Origin":"*"}'
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
      body = [{"element":"1"}]
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CrearCuenta extends Polymer.Element {
      static get is() { return 'crear-cuenta'; }
      static get properties() {
        return {
          customerId:{
            type:Number
          }
         }
       }
        peticionAltaCuenta(){
          console.log("peticionAltaCuenta");

          console.log("Token peticionAltaCuenta en crear-cuenta: " +this.token);
           this.$.doAltaCuenta.headers['token']=this.token;

           this.$.doAltaCuenta.generateRequest();
           console.log("token Alta Cuenta " +this.$.doAltaCuenta.headers['token']);
           console.log("Petición enviada");
        }

       manageAJAXResponse(e, request) {
          console.log("Llegaron los resultados del AltaCuenta.");
          console.log(e.detail.response);
          /** enviar datos al evento "mycreacuent"*/
          this.dispatchEvent(
              new CustomEvent(
                "mycreacuent",
                {
                  "detail": e.detail.response
                }
              )
           );
         }
     }

    window.customElements.define(CrearCuenta.is, CrearCuenta);
  </script>
</dom-module>
