<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<!-- visor del formulario de acceso del cliente -->
<dom-module id="crear-movimiento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.1/examples/sign-in/signin.css">
   <h4 style="text-align: center">Realiza una operación</h4>
   <div class=form-signin>

    <div class="form-group">
      <label>Elige tipo de operación: </label><br/>
      <select placeholder="Seleccionar tipo de operación" value={{transactionType::change}}>
    <!--  <select name="transactionType" id="transactionType" onclick="mostrarDatos()" required> -->
          <option selected value=" ">Seleccionar tipo de operación</option>
          <option  value="TRANSFERENCIA">TRANSFERENCIA</option>
          <option value="INGRESO">INGRESO EN EFECTIVO</option>
          <option value="PAGO">PAGO DE RECIBO</option>
      </select>
    </div>
    <div class="form-group">
      <fieldset>
        <iron-pages selected="{{transactionType}}" attr-for-selected="component-name">
           <div component-name="TRANSFERENCIA">
             <label id="laBen">Beneficiario: </label><br/>
             <input placeholder="beneficiario" type="text" class="form-control" value="{{beneficiario::input}}"></input><br/>
             <label id="laIBAN">IBAN Destino: </label><br/>
             <input placeholder="ibandestino" type="text" class="form-control" value="{{ibandestino::input}}"></input><br/>
           </div>
           <div component-name="PAGO">
             <label id="laBill">Identificador del recibo: </label><br/>
             <input placeholder="bill" type="text" class="form-control" value="{{bill::input}}"></input><br/>
             <label id="laIssuer">Emisor del recibo: </label><br/>
             <input placeholder="taxissuer" type="text" class="form-control" value="{{taxissuer::input}}"></input><br/>
         </div>
        </iron-pages>
          <label>Comentarios: </label><br/>
          <input placeholder="concept" type="text" class="form-control" value="{{concept::input}}"required></input><br/>
          <label>Importe: </label><br/>
          <input placeholder="importe" type="number" class="form-control" value="{{importe::input}}"required></input>
          <label>(Divisa EURO)</label><br/>
      </fieldset>
    </div>

    <div class="form-group">
      <button on-click="enviar" class="btn btn-primary">Aceptar</button>
    </div>
    </div>

  </template>

  <script>


    /**
     * @customElement
     * @polymer
     */
    class CrearMovimiento extends Polymer.Element {
      static get is() { return 'crear-movimiento'; }
      static get properties() {
        return {
          beneficiario: {
            type: String
          },
          ibandestino: {
            type: String
          },
          bill: {
            type: String
          },
          taxissuer: {
            type: String
          },
          concept: {
            type: String
          },
          importe: {
            type: Number
          }
        };
      }
      /** evento del boton 'Aceptar' */
       enviar(e){
         console.log("El usuario ha pulsado el botón ACEPTAR");
        /** enviar datos al evento "mylogin"*/
         this.dispatchEvent(
         new CustomEvent(
           "myoperar",
           {
             "detail":{
               "transaction":{
                 "transactionType": this.transactionType,
                 "concept": this.concept,
                 "balance":{
                   "amount": Number(this.importe),
                   "currency": "EUR"
                 },
                 "receiver" : {
                   "fullName": (this.transactionType== "TRANSFERENCIA")? this.beneficiario: null,
                   "IBAN" : (this.transactionType== "TRANSFERENCIA")? this.ibandestino: null
                 },
                 "billReference" : (this.transactionType== "PAGO")? this.bill: null,
                 "taxIssuer" : (this.transactionType== "PAGO")? this.taxissuer: null

               }
             }
           }
         )
       );
        }
        /* inicializar formulario movimiento   */
          inicializarMovimiento(){
            console.log('inicializarMovimiento');
            this.transactionType=" ";
            this.concept='';
            this.importe='';
            this.beneficiario='';
            this.ibandestino='';
            this.bill='';
            this.taxissuer='';
          }

     }

    window.customElements.define(CrearMovimiento.is, CrearMovimiento);
  </script>
</dom-module>
