<link rel="import" href="../../bower_components/polymer/polymer-element.html">


<dom-module id="mostrar-error">
 <template>
 <style>
    :host {
     display: block;
    }
 </style>
   <h2><img src="https://s3-eu-west-1.amazonaws.com/imagenesgabivane/1153px-Warning_icon.svg.png" alt="icono" style="width: 100px; height: 100px"> {{mensaje}} </h2>

   <P>


 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class MostrarError extends Polymer.Element {
     static get is() { return 'mostrar-error'; }
     static get properties() {
       return {

         msg: {
           type: String
         }
       };
     }

   }

   window.customElements.define(MostrarError.is, MostrarError);
 </script>
</dom-module>
