<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="visor-conversor">
  <template>
    <style>
        .header {
           color: #36A0FF;
           font-size: 27px;
           padding: 10px;
         }
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="well well-sm">
                      <form class="form-horizontal" method="post">
                          <fieldset>
                              <legend class="text-center header">Introduzca las divisas a convertir</legend>

                              <div class="form-group">
                                  <span class="col-md-1 col-md-offset-2 text-center"></span>
                                  <div class="col-md-8">
                                       <label for="ori">Divisa Origen</label>
                      		              <select name="ori" id="ori" value="{{origen::input}}">
                                            <option selected value="EUR">EURO</option>
                                            <option value="USD">DOLAR norteamericano</option>
                                            <option value="GBP">LIBRA esterlina</option>
                                            <option value="JPY">YEN</option>
                                       </select>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <span class="col-md-1 col-md-offset-2 text-center"></span>
                                  <div class="col-md-8">
                                       <label for="dest">Divisa Destino</label>
                      		              <select name="dest" id="dest" value="{{destino::input}}">
                                            <option selected value="EUR">EURO</option>
                                            <option value="USD">DOLAR norteamericano</option>
                                            <option value="GBP">LIBRA esterlina</option>
                                            <option value="JPY">YEN</option>
                                       </select>
                                  </div>
                              </div>

                              <div class="form-group">
                                  <span class="col-md-1 col-md-offset-2 text-center"></span>
                                  <div class="col-md-8">
                                       <label for="cantidad">Cantidad</label>
                       		              <input type="number" name="cantidad" id="cantidad" placeholder="cantidad" value="{{cantidad::input}}"required class="form-control">
                                  </div>
                              </div>

      			                  <div class="form-group">
                                  <span class="col-md-1 col-md-offset-2 text-center"></span>
                                  <div class="col-md-8">
      				                        <label for="cambio">Cambio: {{cambio}}</label>
                                  </div>
                              </div>

      			                  <div class="form-group">
                                  <span class="col-md-1 col-md-offset-2 text-center"></span>
                                  <div class="col-md-8">
      				                        <label for="total">Total: {{total}}</label>
                                  </div>
                              </div>
                          </fieldset>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-12 text-center">
          <button class="btn btn-primary" on-click="convertir">Convertir</button>
      </div>




  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorConversor extends Polymer.Element {
      static get is() { return 'visor-conversor'; }
      static get properties() {
        return {
          origen: {
            type: String,
            value: "EUR"
          },
          destino: {
            type: String,
            value: "EUR"
          },
          cantidad: {
            type: Number
          }
        };
      }
      /** evento del boton 'Aceptar' */
       convertir(e){
         console.log("Convertir divisas");
         console.log("Voy a enviar la petición");
         console.log(e);

        /** enviar datos al evento "convdivisa"*/
         this.dispatchEvent(
         new CustomEvent(
           "calcdiv",
           {
             "detail":{
               "origen": this.origen,
               "destino": this.destino,
               "cantidad":this.cantidad
             }
           }
         )
       );
      }
      /* inicializar conversor   */
        inicializarConversor(){
          console.log('inicializarConversor');
          this.cantidad='';
          this.cambio='';
          this.total='';
          this.origen="EUR";
          this.destino="EUR"

        }

    }

    window.customElements.define(VisorConversor.is, VisorConversor);
  </script>
</dom-module>
