<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="ejecutar-movimiento">
 <template>

  <iron-ajax
        id="createTransaction"
        url="http://localhost:3000/v1/users/{{customerid}}/accounts/{{accountid}}/transactions"
        method="POST"
        headers='{"access-control-allow-origin":"*"}'
        handle-as="json"
        content-type="application/json"
        on-response="manageAJAXResponse"
        on-error="showError">
      </iron-ajax>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class EjecutarMovimiento extends Polymer.Element {
     static get is() { return 'ejecutar-movimiento'; }
     static get properties() {
       return {
         transaction:{
           type: Object,
           observer: 'ejecutamovimiento'
          },
          token:{
           type: String
         }

       };
     }
     ejecutamovimiento(transactionNew, old){
       console.log("ejecutamovimiento en ejecutar-movimiento con new: "+transactionNew);

         console.log("ejecutamovimiento en ejecutar-movimiento con this.transaction:"+JSON.stringify(this.transaction));
       if(this.transaction != null && transactionNew != null){
         console.log("Data: " +JSON.stringify(transactionNew));
          this.$.createTransaction.headers['token']=this.token;
          this.$.createTransaction.body=this.transaction;
          console.log("this.$.createTransaction.body: " +JSON.stringify(this.$.createTransaction.body));
          this.$.createTransaction.generateRequest();


          console.log("token createTransaction " +this.$.createTransaction.headers['token']);
          console.log("Petición enviada");
          console.log("Petición enviada en ejecutar-movimiento");
      }
     }


     //Una vez recuperadas las cuentas se cargan y se muestra la página
     manageAJAXResponse(data){
       console.log("Llegaron los resultados el alta del movimiento");
       console.log("Cuentas "+data.detail.response);
       this.dispatchEvent(
           new CustomEvent(
             "myvolvermov",
             {
               "detail": {
                 "transactionId": data.detail.response.transactionId
               }
             }
           )
           );
     }

showError(e){
  console.log(e);
}
     }

   window.customElements.define(EjecutarMovimiento.is, EjecutarMovimiento);
 </script>
</dom-module>
