<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!-- ejecuta la API login -->

<dom-module id="crear-cliente">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
      id="doAlta"
      method="POST"
      url="http://localhost:3000/v1/users"
      handle-as="json"
      content-type="application/json"
      on-response="manageAJAXResponse"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CrearCliente extends Polymer.Element {
      static get is() { return 'crear-cliente'; }
      static get properties() {
        return {
          usuario:{
            type: Object,
            observer: '_peticionAlta'
          }
        };
        }

        _peticionAlta (data){
          console.log("peticionAlta");
          console.log(data);
          console.log("  Datos entrada ->" + JSON.stringify(data));
          this.$.doAlta.body=JSON.stringify(data);;
          this.$.doAlta.generateRequest();

          console.log("Petición enviada");
        }

        manageAJAXResponse(e) {
        console.log("Llegaron los resultados.");
        console.log(e.detail.response);
        /** enviar datos al evento "mycreacli"*/
        this.dispatchEvent(
        new CustomEvent(
          "mycreacli",
          {
            "detail": e.detail.response,
            "msg": "Se ha realizado el proceso de alta correctamente. Es necesario que inicie sesión a través del Área de Clientes"
          }
        )
      );
      }

      showError(e, request){

        this.dispatchEvent(new CustomEvent(
            "clien-error",
            {
            "detail": {"msg": e.detail.request.xhr.response.msg}
            }
          )
         );
       }

     }

    window.customElements.define(CrearCliente.is, CrearCliente);
  </script>
</dom-module>
