<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../image-carousel/image-carousel.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="carousel-imagen">
  <template>
    <style>

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <image-carousel autoscroll aira-labelledby="autoplay">
      <template is="dom-repeat" items='["https://s3-eu-west-1.amazonaws.com/imagenesgabivane/vivienda.jpeg", "https://s3-eu-west-1.amazonaws.com/imagenesgabivane/prestamo.png","https://s3-eu-west-1.amazonaws.com/imagenesgabivane/metas.jpg"]' slot="images">
        <img src="[[item]]" class="scrolling-images" alt$="demo image alt [[index]]" width="150px" height="500px">
     </template>
    </image-carousel>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CarouselImagen extends Polymer.Element {
      static get is() { return 'carousel-imagen'; }
      static get properties() {
        return {

        };
      }
    }

    window.customElements.define(CarouselImagen.is, CarouselImagen);
  </script>
</dom-module>
